<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hole</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <header class="p-3 mx-auto bg-white shadow space-x-4">
        <nav class="flex items-center p-2 justify-evenly">
            <div class="shrink-1">Shaphirom</div>
            <div class="shrink-1">About</div>
        </nav>
    </header>
    
    {% with messages = get_flashed_messages() %}
    
        {% if messages %}
            {% for message in messages %}
                <div class="bg-yellow-100 p-3 mx-auto flex align-center justify-center">
                    <h3 class=" text-3ms font-bold uppercase">{{message}}</h3>
                </div>
            {% endfor %}
        {% endif %}
        
    {% endwith %}
    
    {% block body%}
    {% endblock %}


</body>

</html>